<!-- {{ responsedData | json }}  -->
<br /><br /><br /><br /><br /><br /><br />
<table class="table">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Hospital</th>
    <th scope="col">Date</th>
  </tr>

  <tr>
    <td>{{ responsedData._id }}</td>
    <td>{{ responsedData.hospital }}</td>
    <td>{{ responsedData.date }}</td>
    <td>
    <table class="table table-borderless thead-dark">
        <tr>
            <th scope="col">name</th>
            <th scope="col">days</th>
            <th scope="col">description</th>
        </tr>
        <tr *ngFor="let p of responsedData.medicines">
            <td>{{ p.name }}</td>
            <td>{{ p.days }}</td>
            <td> {{ p.description }}</td>
        </tr>

    </table>
    </td>
  </tr>
</table>
